profile = default
version = 0.26.1

margin = 80
match-indent = 2

space-around-lists = false
space-around-arrays = false
space-around-records = true
space-around-variants = true
dock-collection-brackets = true
wrap-comments = true

field-space = tight-decl
indicate-multiline-delimiters = closing-on-separate-line
single-case = sparse
type-decl = sparse
